/* 
your CSS rules and font imports should go here 
delete this comment, add the import directives for your fonts
and add the CSS rules as described in the challenge
*/

/* Imported fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

header {

}

main {

}

article {

}

footer {

}