/* 
your CSS rules and font imports should go here 
delete this comment, add the import directives for your fonts
and add the CSS rules as described in the challenge
*/

/* Imported fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;

	background-image: url(../img/background.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #0000AA;
}

a:hover, a:focus {
	color: #0000EE;
}

h1, h2, h3 {
	font-family: 'Raleway', Helvetica;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

header {
	padding: 1em;
	background-color: #FA5A0F;
	border: 0px 0px 5px 0px;
	border-color: #EA4A00;
	color: #FFFFFF;
}

header.h2 {
	font-size: 120%;
	color: #EEEEEE;
	margin: 0;
}

main {
	margin: 20px 20px 20px 30%;
	background-image: url(../img/ricepaper_v3.png);
	opacity: 0.9;
}

section {
	padding: 1em;
}

#menu {
	background-color: rgba(207, 205, 140, .5);
	font-size: 80%;
	margin-left: 1em;
	margin-bottom: 1em;
}

#menu dt {
	font-weight: 400;
}

footer {
	padding: 1em;
	background-color: #FC892F;
	border: 5px 0px 0px 0px;
	border-color: #EC791F;
	font-size: 80%;
	text-align: right;
}